
.form {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & p {
    display: inline-block;
    text-align: center;
  }

  &__name {
    margin: 15px 0 4px;
  }

  &__title {
    margin: 4px 0;
  }
}
