.headerPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 24px 8px;
}

.title{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.85);
}
