.columns {
  grid-template-columns: repeat(6, 1fr);
}

.overlay {
  overflow: hidden;
  position: fixed;
  top: 56px;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -4;
  background: rgba(0, 0, 0, 0);
  transition: all .5s linear;

  &__active {
    z-index: 50;
    background: rgba(0, 0, 0, 0.5);
    transition: background-color .5s linear;
    overflow: hidden;
  }
}

.modal {
  height: 100%;
  width: 100%;
  z-index: 23;
  overflow: hidden;
  position: absolute;
  float: left;
  top: 0;
  right: -110%;
  display: block;
  background-color: #ffffff;
  transition: all .5s linear;

  &__active {
    transition: all .5s linear;
    right: 0;
    overflow: hidden;
  }
}

.arrow {
  margin-right: 10px;
}

.contentScroll {
  height: 100%;
  overflow-y: scroll;
}

.cancel {
  background-color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  display: flex;
  align-items: center;
}

.content {
  padding: 24px;

  &__subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;

    &__h1 {
      margin: 13px 0;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
    }

    &__action {
      background-color: #ffffff;
    }
  }

  &__columns {
    grid-template-columns: repeat(6, 1fr);
  }
}
