.footer {
  display: flex;
  justify-content: right;
  padding: 5px 11px;
  align-items: center;
  border-top: 1px solid #e8e8e8;

  &__lable {
    color:  rgba(0, 0, 0, 0.75);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding-right: 8px;
  }

  &__select {
    height: 32px;
    width: 65px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-right: 8px;
  }

  &__info {
    margin: 0 8px;
  }

  &__buttons {
    height: 100%;
    display: flex;
    align-items: center;

    &_first {
      margin-right: 8px;
      height: 16px;
      background: transparent;
    }

    &_prev {
      margin-right: 12px;
      height: 16px;
      background: transparent;
    }

    &_next {
      margin-right: 8px;
      background: transparent;
      height: 16px;
    }

    &_last {
      background: transparent;
      height: 16px;
    }
  }
}
