.tablet_row{
  width: 408px;
  display: flex;
  flex-direction: column;
  margin: 10px auto 0 auto;
}
.phone_row{
  width: 288px;
  display: flex;
  flex-direction: column;
  margin: 10px auto 0 auto;
}
.wrap {
  display: flex;
  align-items: center;
}

.desktop_label {
  max-width: 260px;
  width: 100%;
  text-align: right;
  margin-right: 16px;
  margin-top: 16px;
}

.mobile_label{
  width: 100%;
  text-align: left;
}
.required {
  color: red;
}

.error_label {
  padding-bottom: 16px;
}

.selectWrap {
  width: 100%;
}

.desktop_select {
  max-width: 280px;
  width: 100%;
}

.mobile_select{
    margin-top: 4px;
    font-size: 14px;
    box-sizing: border-box;
    height: auto;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    outline: 0;
}

.error {
  display: flex;
  align-items: center;

  .textError {
    font-size: 12px;
    font-weight: 400;
    color: red;
  }
}

