.button {
  background: #428BCA;
  border-radius: 8px;
  padding: 10px 24px;
  font-size: 14px;
  color: #ffffff;
  display: block;
}
.button:hover{
  cursor: pointer;
  background: #276FAD;
}
.disabled{
  background: #DCDCDC;
}
.disabled:hover{
  background: #DCDCDC;
}
