.button {
  display: block;
  height: 100%;
  background: #428BCA;
  font-size: 14px;
  color: #ffffff;
  border-radius: 8px;
  padding: 10px 24px;

  &:hover {
    cursor: pointer;
    background: #276FAD;
  }
}

.disabled {
  background: #DCDCDC;

  &:hover {
    background: #DCDCDC;
  }
}
