.columns {
  grid-template-columns: repeat(6, 1fr);
}
.table__title{
  color: rgba(0, 0, 0, 0.75);
  font-weight: 700;
  font-size: 19px;
  line-height: 20px;
  padding: 20px 0;
}
.actions{
  display: flex;
  align-items: center;
}
.downloadButton{
  margin-left: 20px;
  border: 0;
  &:hover{
    border: 0;
  }
}
