.Row{
  width: 408px;
  display: flex;
  flex-direction: column;
  margin: 10px auto 0 auto;
}
.label{
  width: 100%;
  text-align: left;
}

.required {
  color: red;
}

.InputRow{
  width: 100%;
  text-align: center;
}

.input {
  margin-top: 4px;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 400;
  border: 1px solid hsl(0, 0, 0, 0.1);
  padding: 5px 16px;
  border-radius: 8px;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  outline: 0;

  &:focus, &:active {
    border: 1px solid rgba(39, 111, 173, 1)
  }
}
.error {
  margin-top: 5px;
  text-align: left;
}
.textError {
  font-size: 14px;
  font-weight: 400;
  color: red;
}
