.AdaptiveButtonsModal{
  position: absolute;
  bottom: 28px;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  &:nth-child(n) {
    margin-left: 16px;
  }
}
.block_Buttons {
  display: flex;
  justify-content: flex-end;

  &:nth-child(n) {
    margin-left: 16px;
  }
}

.cancelButton{
  min-width: 81px;
  min-height: 32px;
}

.submitButton{
  min-width: 96px;
  min-height: 32px;
}
