.wrap {
    display: flex;
    align-items: center;
  }
  .label {
    max-width: 260px;
    width: 100%;
    text-align: right;
    margin-right: 16px;
    margin-top: 16px;
  }

.required {
  color: red;
}

.selectWrap {
  width: 100%;
}

.error {
  display: flex;
  align-items: center;
  margin-top: 4px;

  .textError {
    font-size: 12px;
    font-weight: 400;
    color: red;
  }
  &_label {
    padding-bottom: 16px;
  }
}
