.header {
  color: #FFFFFF;
  margin: 0;
  background-color: #003366;
  padding: 0 24px 0 4px;
  display: flex;
  justify-content: space-between;
  min-height: 56px;

  &__item {
    display: flex;
    align-items: center;
    background-color: inherit;
  }
}
.header_sticky{
  color: #FFFFFF;
  margin: 0;
  background-color: #003366;
  padding: 0 24px 0 4px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 56px;
  position: fixed;
  overflow: hidden;
  z-index: 9999;
  top: 0;
  left: 0;
}

.navigation__button {
  float: left;
  height: 30px;
  width: 30px;
  font-family: Roboto, sans-serif;
  background-color: #428BCA;
  border: 0;
  border-radius: 8px;
  padding: 3px;
  margin: 3px 0 0 16px;
  transform: rotate(180deg);
  transition: all .5s linear;
  &:hover{
    background: rgba(39, 111, 173, 1);
  }

  .navButtonSvg {
    margin: 0;
  }

  &__revert {
    transform: rotate(0deg);
    transition: all .5s linear;
  }
}


.logo {
  height: 30px;
  width: 100px;
  padding-left: 12px;
  object-fit: contain;
}

.user {
  margin-right: 12px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.85);
}

.avatar {
  background-color: #428BCA;
  font-family: 'Roboto', sans-serif;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: #FFFFFF;

  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
