.custom-select-container{

}
.custom-select__control {
    width: 180px !important;
    color: #6F6F6F;
    margin-left: 24px;
    font-size: 14px !important;
    font-weight: 400;
}

.custom-select__menu{
    width: 180px!important;
    color: #6F6F6F;
    margin-left: 24px;
    font-size: 14px!important;
    font-weight: 400;
}
.custom-select__input-container{
    color: #6F6F6F;
    font-size: 14px!important;
    font-weight: 700;
}