.DropMenu{
  position: fixed;
  top: 56px;
  right: 22px;
  z-index: 120;

  background: rgba(254, 254, 254, 1);
  border-radius: 8px;
  line-height: 22px;
  box-shadow: 0 10px 13px rgba(0, 0, 0, 0.1);

  width: 180px;
  height: 0;
  padding: 0;

  transition: all .4s linear;
  overflow: hidden;

  &__active{
    transition: all .5s linear;
    height: 86px;
    padding: 4px 0;
    &_mobileAdmin{
      transition: all .5s linear;
      position: fixed;
      height: 420px;
      padding: 4px 0;
      top: 56px;
    }
    &_mobileStudent{
      transition: all .5s linear;
      height: 170px;
      position: fixed;
      padding: 4px 0;
      top: 56px;
    }
  }
}

.overlay {
  position: fixed;
  right: 0;
  top: 56px;
  width: 0;
  height: 0;
  background: transparent;
  z-index: -5;
  overflow: hidden;
  &_active{
    z-index: 300;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    transition: background-color .3s linear;
    overflow: hidden;
  }
}
