.TabletRow{
  width: 408px;
  display: flex;
  flex-direction: column;
  margin: 10px auto 0 auto;
}
.TabletFilterSelect{
  width: 49%;
}

.PhoneRow{
  width: 288px;
  display: flex;
  flex-direction: column;
  margin: 10px auto 0 auto;
}
.PhoneFilterSelect{
  width: 100%;
  margin: 16px auto 0 auto;
}

.label{
  margin-top: 10px;
  width: 100%;
  text-align: left;
}

.required {
  color: red;
}

.SelectRow{
  width: 100%;
  text-align: center;
}

.Select {
  margin-top: 4px;
  font-size: 14px;
  box-sizing: border-box;
  height: 42px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  outline: 0;
}
.error {
  margin-top: 5px;
  text-align: left;

}
.textError {
  font-size: 14px;
  font-weight: 400;
  color: red;
}

