.nav_and_content {

  display: flex;
  flex-grow: 1;
}

.nav__menu {
  font-weight: 400;
  max-width: 208px;
  transition: all 0.5s;
  background-color: #ECF3FE;


  &__links {
    margin: 16px;
  }
}

.link {
  margin: 0;
  min-width: 42px;
  color: #607180;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
  transition: all 2s;

  &_title {
    display: none;
  }

  &span {
    display: inline-block;
    margin: 12px;
    min-width: 125px;
  }
}

.content {
  overflow: hidden;
  width: 100vw;
  position: relative;
  padding: 24px 24px 40px 24px;
}
