.navAndContent {
    display: flex;
    flex-grow: 1;
}

.navMenu {
    font-weight: 400;
    max-width: 208px;
    background-color: #ECF3FE;
}

.navMenuLinks {
    margin: 16px;
}

.link {
  margin: 0;
  min-width: 42px;
  color: #607180;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
  &_title {
    display: none;
  }
}

.link span {
    display: inline-block;
    margin: 12px;
  min-width: 125px;
}

.hidden {
}
