.group{
  width: 100vw;
  padding: 24px 24px 40px 24px;
}
.headerPage{
  margin: 21px 0 13px 0;
}
.filterBlock{
  display: flex;
  margin-bottom: 24px;
}
.modal__body{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.modal__select{
  grid-column: 1/4;
  display: flex;
  justify-content: right;
  .customSelect__control{
    width: 280px;
  }
}
.modal__Select_Title{
  display: flex;
  align-items: center;
  margin-right: 16px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0,0,0,0.75);
}
.form{
  margin-top: 55px;
}
.formInput{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  &:last-child{
    margin-bottom: 0px;
  }
}
.formLabel{
  max-width: 260px;
  width: 100%;
  text-align: right;
  margin-right: 16px;
}
.input{
  max-width: 280px;
  width: 100%;
}
.modalExit{
  margin-top: 58px;
  display: flex;
  justify-content: right;
  height: 32px;
  }
.modalRevert{
  font-size: 14px;
  font-weight: 400;
  color: rgba(0,0,0,0.75);
  background: transparent;
  border: 1px solid #428BCA;
  border-radius: 8px;
  width: 81px;
  margin-right: 16px;
  cursor: pointer;
  &:hover{
    border:1px solid #276FAD;
  }
}
.modalSubmit{
  width: 96px;
  font-size: 14px;
  background: #428BCA;
  border-radius: 8px;
  color: rgba(255,255,255,0.85);
  font-weight: 400;
  cursor: pointer;
}
