.group{
  width: 100vw;
  padding: 0 24px;
}
.headerPage{
  margin: 21px 0 13px 0;
}
.titleBlock{
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-template-rows: 1fr;
}
.buttonBlock{
  display: flex;
  align-items: center;
  justify-content: right;
}
.filter__block{
  display: flex;
  margin: 21px 0 24px 0;
}
.custom-select__control{
  width: 180px;
  margin-right: 16px;
}
.modal__Select_Title{
  margin-right: 16px;
  display: flex;
  align-items: center;
}
.modal__body{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
}
.modal__select{
  display: flex;
  grid-column: 1/4;
  justify-content: right;
  margin-bottom: 16px;
}
.modal__select .custom-select__control{
  width: 280px;
}
.modal__select:first-child{
  margin-top: 40px;
}
.modal__select:last-child{
  margin-bottom: 40px;
}
.modal__exit{
  display: flex;
  justify-content: right;
  padding: 13px 0;
}
.modal__exit .button:first-child{
  margin-right: 16px;
  background: transparent;
  border: 2px solid #428BCA;
  color: black;
}
.modal__exit .button:last-child{
  margin-right: 17px;
}
