.group{
  width: 100vw;
  padding: 0 24px;
}
.headerPage{
  margin: 21px 0 13px 0;
}
.filter__block{
  display: flex;
  margin: 21px 0 24px 0;
}
.custom-select__control{
  width: 180px;
  margin-right: 16px;
}

