.error {
  transition: all .5s;
  bottom: 0;
}

.columns {
  grid-template-columns: repeat(5, 1fr);
}

.form {
  padding: 40px 0;
}

.actions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  grid-column-gap: 13px;
}
