.content{
  position: relative;
}
// Menu
.Tablet__title{
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.75);
  width: 65%;
}
.Tablet__subtitle{
  margin-top: 10px;
  color: rgba(96, 113, 128, 1);
  font-weight: 400;
  font-size: 14px;
  width: 65%;
}

// Phone
.Phone__title{
  font-weight: 700;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.75);
}
.Phone__subtitle{
  margin-top: 10px;
  color: rgba(96, 113, 128, 1);
  font-weight: 400;
  font-size: 13px;
}
.buttons {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
}



