
.columns {
  grid-template-columns: repeat(6, 17%);
}

.actions {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  justify-content: space-between;
}


.gradesCell {
  position: absolute;
  transition: all 0.6s;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  left: 0;
  top: 0;
  border: solid 0 #ffffff;
  //border-radius: 8px;
  margin: 0;

  &:hover {
    transition: all 0.3s;
    padding: 12px;
    border: solid 2px #8c77ff;
  }

  &__active {
    transition: all 0.3s;
    padding: 12px;
    border: solid 2px #8c77ff;
  }
}

.gradesMobile {
  height: 100%;
  width: 50px;
  text-align: center;
  border: solid 1.5px rgba(255, 255, 255, 0);
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.3s;

  &:hover {
    transition: all 0.3s;
    border: solid 1.5px #428BCA;
  }

  &__active {
    transition: all 0.3s;
    border: #276FAD 1.5px solid;
  }
}


.modalSemester {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  transition: all 0.5s;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  left: 100%;
  top: 0;
  border: 1px solid #349aff;
  border-radius: 4px;
  margin: 0;

  & button {
    height: auto;
    width: 20%;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #0088ff;
    border-radius: 4px;
  }

  &__open {
    transition: all 0.5s;
    //background-color: #D7E7F4;
    left: 0;
  }
}
