.icon {
  height: 15px;
  width: 15px;
  margin: 6px;
  fill: #607180;
}

.Active {
  background-color: #ffffff;

  .icon path {
    fill: #000000;
  }

  .title {
    color: #000000;
  }
}

.h42p {
  height: 42px;
}

.link {
  margin: 0;
  min-width: 42px;
  color: #607180;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;

  .title {
    overflow: hidden;
    width: 155px;
    transition: all 0.5s;
    white-space: nowrap;
  }

  .icon {
    transition: all 0.5s;
    margin: 12px;
  }

}

.hidden {
  .title {
    overflow: hidden;
    transition: all 0.5s;
    width: 0;
    transform: scale(0);
  }

  .icon {
    margin: 0 16px;
  }
}
