.content {
  width: 100%;
}
.tableResult{
  max-height: 137px;
  overflow-y: auto;
}

.body__row {
  display: grid;
  background: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #e8e8e8;
 &_noBorder{
   &:last-child {
     border-bottom: none;
   }
 }
  &:hover {
    background: rgba(215, 231, 244, 1);
  }

  &__item {
    background: rgba(255, 255, 255);
    padding: 5px 11px;
    color: rgba(0, 0, 0, 0.75);
    position: relative;

    &:nth-child(n) {
      border-bottom: solid #E8E8E8 1px;
    }

    &__scroll {
      &:first-child {
        position: sticky;
        z-index: 2;
        left: 0;
      }

      &:last-child {
        position: sticky;
        z-index: 2;
        right: 0;
      }
    }

    &__string {
      display: inline-block;
      height: 22px;
      line-height: 22px;
      margin: 5px;
    }
  }
}
