* {
    border: 0;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "HelveticaBlack";
    src: url("../fonts/HelveticaBlack/HelveticaBlack.eot");
    src: url("../fonts/HelveticaBlack/HelveticaBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"),
    url("../fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body{
    height: 100vh;
    font-family: HalveticaBlack, Arial,sans-serif;
    font-size: 14px;
}

.h42p {
    height: 42px;
}

body #root {
    height: 100%;
    display: flex;
    flex-direction: column;
}