.header {
    color: #FFFFFF;
    margin: 0;
    background-color: #003366;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 56px;

}

.header div * {
    margin: 6px;
}

.avatarka {
    background-color: #428BCA;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 0;
    padding: 7px 0;
    font-size: 14px;
}

.logo {
    height: 30px;
    width: 100px;
}

.user {

}