.header {
    color: #FFFFFF;
    margin: 0;
    background-color: #003366;
    padding: 0.5vh;
    display: flex;
    justify-content: space-between;
    height: 7.5vh;
}

.header div * {
    margin: 0.5vh;
}

.avatarka {
    background-color: #428BCA;
    width: 5.6vh;
    height: 5.6vh;
    border-radius: 2.8vh;
    font-size: 3vh;
    border: 0;
    padding: 0.7vh;
}

.logo {
    height: 6vh;
    width: 20vh;
}

.user {
    font-size: 3vh;
}