.header {
    color: #FFFFFF;
    margin: 0;
    background-color: #003366;
    padding: 3px;
    display: flex;
    justify-content: space-between;
}

.header div * {
    margin: 6px;
}

.avatarka {
    background-color: #428BCA;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 0;
    padding: 2px;
}

.logo {
    height: 30px;
    width: 100px;
}