.navAndContent {
    display: flex;
    height: 91vh;
}

.navMenu {
    font-family: Helvetica, serif;
    font-size: 14px;
    font-weight: 400;
    width: 18%;
    background-color: #ECF3FE;
}

.link {
    margin: 16px;
    display: block;
    text-decoration: none;
    border-radius: 8px;
}