.window {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 56px;
  display: flex;
}

.login__modal {
  position: relative;
  z-index: 23;
  flex-grow: 1;
  display: flex;
  min-height: 74px;
  max-height: 200px;
  height: auto;
  align-items: center;
  background-color: #ffffff;

  line-height: 22px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 8px 8px;
  width: auto;
  margin-bottom: 2px;

  transition: all .5s;
  bottom: 25px;

  //  &not(:first-child) {
  //
  //}
  &__error {
    transition: all .5s;
    bottom: 0;
  }

  &__button {
    margin: 0 25px 0 24px;
    height: 19px;
    width: 19px;

    &__iClose {
      width: 11px;
      height: 11px;
      padding: 0;
      margin: 0;
    }
  }

  &__div {
    height: 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

    display: flex;
    align-items: center;
  }
}

.error {
  color: #FF0000;
}

.warning {
  color: #fd8d00;
}

.info {
  color: black;
}

.voting {
  color: #a300ff;
}
