.window {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 56px;
  display: flex;
}

.login__modal {

  display: flex;
  align-items: center;

  padding: 10px 0;
  min-height: 30px;
  max-height: 200px;
  background-color: #ffffff;

  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 5px;
  transition: all 2s;
  z-index: 23;

  &__error {
    transition: all .5s;
    bottom: 0;
  }

  &__button {
    margin: 0 25px;
  }

  &__div {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

    display: flex;
    align-items: center;
  }
}

.error {
  color: #FF0000;
}

.warning {
  color: #fd8d00;
}

.info {
  color: black;
}

.voting {
  color: #a300ff;
}
