.window {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 56px;
  display: flex;
}

.message {
  position: relative;
  z-index: 999;
  flex-grow: 1;
  display: flex;
  align-items: center;

  padding: 10px 0;
  min-height: 30px;
  max-height: 200px;
  height: auto;
  background-color: #ffffff;

  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  transition: all 2s;
  border-radius: 0 0 8px 8px;
  width: 100%;

  bottom: 25px;

  &__error {
    transition: all .5s;
    bottom: 0;
  }

  &__button {
    margin: 0 25px 0 24px;
    height: 19px;
    width: 19px;

    &__iClose {
      width: 11px;
      height: 11px;
      padding: 0;
      margin: 0;
    }
  }

  &__div {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

    display: flex;
    align-items: center;
  }
}

.error {
  color: black;

  .title {
    color: red;
  }
}

.warning {
  color: #fd8d00;
}

.info {
  color: black;
}

.voting {
  color: #a300ff;
}
