.navigationButton {
    float: left;
    height: 6vh;
    width: 6vh;
    background-color: #428BCA;
    border: 0;
    border-radius: 8px;
    padding: 0.7vh;
}

.navigationButton .navButtonSvg {
    margin: 0;
}
