.navigationButton {
    float: left;
    height: 30px;
    width: 30px;
    background-color: #428BCA;
    border: 0;
    border-radius: 8px;
    padding: 3px;
}

.navigationButton .navButtonSvg {
    margin: 0;
}
