.students {
  width: 100%;
}

.columns {
  grid-template-columns: repeat(7, 1fr);
}

.actions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  grid-column-gap: 13px;
}
