.Dots {
  cursor: pointer;
  position: relative;
  background: transparent;
  font-size: 19px;
  transition: all 1s ease-in;
}
.DotsNoDisplay{
  opacity: 0;
  transition: all .3s ease-in;
}

.displayButtons{
  padding: 8px 8px 6px 8px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -150px;
  transition: all .7s linear;
}
.displayButtonsActive{
  right: 20px;
  transition: all .7s linear;
}
