.required {
  color: red;
}

.wrap {
  display: flex;
  align-items: center;

  .label {
    max-width: 260px;
    width: 100%;
    text-align: right;
    margin-right: 16px;
    margin-top: 16px;
  }

  .multiSelectWrap {
    .select {
      min-width: 280px;
      max-width: 280px;
      margin-right: 10px;
    }
  }

  .selectWrap {
    width: 100%;

    .select {
      max-width: 280px;
      width: 100%;
    }

    .error {
      display: flex;
      align-items: center;
      margin-top: 4px;

      .textError {
        font-size: 14px;
        font-weight: 400;
        color: red;
      }
    }
  }
}

.error_label {
  padding-bottom: 16px;
}
.filterSelect{
  width: 280px;
}
