.login {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__div {
    height: 40%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form {
    width: 280px;
    display: flex;
    flex-direction: column;

    &__label {
      display: flex;
      justify-content: space-between;
      align-items: center;

      line-height: 22px;
      margin: 8px 0 16px;
      padding: 1px;
      height: 24px;
      width: 127px;
    }

    &__input {
      padding: 10px 16px;
      height: 20px;
      font-size: 14px;
      margin-top: 8px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }

    &__button {
      width: 280px;
      height: 42px;
      font-size: 14px;
      color: #ffffff;
    }

    a {
      margin: 32px auto 0;
      text-underline-offset: 5px;
    }
  }
}
.second_input{
  margin-top: 16px;
}

.checkbox{
  margin: 19px 0;
}
