.portal {
  &__unauthorized {
    z-index: 4;
    height: 0;
    max-height: 40%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__authorized {
    width: 100%;
  }
}
