.portal {
  &__unauthorized {
    z-index: 2;
    top: 56px;
    right: 0;
    height: 0;
    width: auto;
    display: flex;
    flex-direction: column;
  }

  &__authorized {
    width: 100%;
  }
}
