.portal {
  &__unauthorized {
    z-index: 9999;
    height: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(calc(-55% + -8px));
    &__mobile{
      top: 56px;
      left: 0;
      transform: translateX(0);
    }
  }

  &__authorized {
    width: 40vw;
    &__mobile{
      top: 56px;
      width: 100vw;
    }
  }

}
