.table{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
}
.table__header{
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.6);
    font-weight: 400;
    line-height: 22px;
    background: #ECF3FE;
    padding: 10px 16px;
}
.table__item{
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.6);
    font-weight: 400;
    line-height: 22px;
    padding: 10px 16px;
}
.table__header_left{
    border-radius: 8px 0 0 0;
}