.submitButton{
  margin-bottom: 48px;
  &_phone{
    width: 100%;
  }
}
.columns {
  grid-template-columns: 50px repeat(4, 1fr);
}
.firstTitle{
  padding: 0!important;
}
.contentVoting{
  height: 100%;
}
.voting_footer{
  margin-top: 42px;
  display: flex;
  justify-content: flex-end;
  margin-right: 65px;
  &_phone{
    margin-right: 0;
    justify-content: center;
  }
}
.noActiveVoting{
  display: flex;
  justify-content: center;
  margin-top: 250px;
  &Title{
    font-weight: 700;
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.75);
    padding: 23px 123px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
  }
}
