.miniModal {
  width: 100vh;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.displayTIme {
  background: #FFFFFF;
  text-align: center;
  width: 50px;
  font-size: 16px;
  font-weight: 500;
  height: 18px;
  padding: 5px 18px;
  border-radius: 8px;
  border: 1px solid hsl(0, 0, 0, 0.1);
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.selectBlock {
  display: none;
  width: 100px;
  height: 80px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 18px;
  border-radius: 8px;
  margin-top: 2px;
  position: absolute;
}

.show {
  display: block;
}


.selectBlockBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.twoDots {
  margin: auto 0;
}

.select {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 80px;
  flex-shrink: revert;
  justify-content: center;
}

.infoValue {
  text-align: center;
  padding: 5px 8px;
  font-weight: 600;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid black;
}

.addHours {
  width: 40px !important;
  height: 24px !important;
  text-align: center;
  border: none;
  background: transparent;

  &Arrow {
    transform: rotate(90deg);
  }
}

.removeHours {
  width: 40px !important;
  height: 24px !important;
  border: none;
  text-align: center;
  background: transparent;

  &Arrow {
    transform: rotate(-90deg);
  }
}

