.MyDatePickerPhone{
  max-width: 288px;
}
.MyDatePickerPhone > .react-datepicker__input-container > input {
  width: 100%;
  box-sizing: border-box;
  height: 42px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  padding: 4px 16px;
  margin-top: 16px;
  border-radius: 8px;
}

.MyDatePickerPhone > .react-datepicker__close-icon {
  max-height: 42px;
  height: 100%;
  margin-top: 16px;
  background: transparent;
  color: black;
}

.MyDatePickerPhone > .react-datepicker__close-icon::after {
  content: '';
  height: 42px;
  color: black;
  background: transparent;
  padding: 0;
  font-size: 25px;
}
